html
    head
        title= title
        link(rel="stylesheet", href="styles/main.css")
    body
        ul(class="menu")
            li
                a(href="/") Home
            if (username && username !=='')
                li
                    a(href="/listStudent") Student list
                li 
                    a(href="/logout") logout
            else
                li
                    a(href="/login") Login
                li
                    a(href="/register") Register

        block content