html
    head
        title= title
        link(rel="stylesheet", href="styles/main.css")
    body
        ul(class="menu")
            li
                a(href="/") Home
            li
                a(href="/login") login
            li
                a(href="/listStudent") Student list

        block content